body{
    
}

.inlineBlock{
    display: inline-block;
    vertical-align: top;
}
.logo{
    width: 23%;
    padding: 1%;
}
nav{
    width: 73%;
    padding: 1%;
    background-color: #FFFDFB;
}
.navmenu{
    display: inline-block;
    padding: 3%;
}
ul{
    width: 50%;
    margin-left: auto;
}
.heroImg{
    display: inline-grid;
    justify-content: end;

}
.content{
    width: 500px;
    margin: 0 auto;
}
li{
    display: block;
    padding: 1%;
}
.skills{
    font-size: 25pt;
    font-family: "new-kansas", sans-serif;
    font-weight: 800;
    font-style: normal;
}
h1{
    width: 550px;
    font-size: 45pt;
    font-family: "manteiga-gorda", sans-serif;
    font-weight: 400;
    font-style: normal;
}
h2{
    font-size: 30pt;
    font-family: "new-kansas", sans-serif;
    font-weight: 800;
    font-style: normal;
}
h3{
    font-size: 25pt;
    font-family: "new-kansas", sans-serif;
    font-weight: 800;
    font-style: normal;
}
p{
    font-size: 18pt;
    font-family: "degular", sans-serif;
    font-weight: 400;
    font-style: normal;
}