body{
    
}

.inlineBlock{
    display: inline-block;
    vertical-align: top;
}
.logo{
    width: 23%;
    padding: 1%;
}
nav{
    width: 73%;
    padding: 1%;
    background-color: #FFFDFB;
}
.navmenu{
    display: inline-block;
    padding: 3%;
}
ul{
    width: 50%;
    margin-left: auto;
}
.heroImg{
    display: flex;
}
.content{
    width: 60%;
    margin: 0 auto;
    float: inline-start;
}

.Hicopy{
    float: inline-end;
    width: 40%;
}

li{
    display: block;
    padding: 1%;
}
.skills{
    font-size: 25pt;
    font-family: "new-kansas", sans-serif;
    font-weight: 800;
    font-style: normal;
}
.slider{
    display: flex;
    float: inline-end;
}
h1{
    width: 550px;
    font-size: 45pt;
    font-family: "manteiga-gorda", sans-serif;
    font-weight: 400;
    font-style: normal;
}
h2{
    font-size: 30pt;
    font-family: "new-kansas", sans-serif;
    font-weight: 800;
    font-style: normal;
}
h3{
    font-size: 25pt;
    font-family: "new-kansas", sans-serif;
    font-weight: 800;
    font-style: normal;
}
h4{
    font-size: 25pt;
    font-family: "marydale", sans-serif;
    font-weight: 400;
    font-style: normal;
}
p{
    font-size: 18pt;
    font-family: "degular", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.workGrid{
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 50% 50%;
    justify-content: center;
    align-content: center;
    padding: 1%;
} 
.view{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    padding: 10px 20px;
    background-color: rgb(41, 72, 125);
    color: white;
    border-radius: 26px;
    cursor: pointer;
}





@media only screen and (max-width: 600) {

}